/* Popup container - can be anything you want */
.pstscpopup {
	position: relative;
	display: inline-block;
}

/* The actual popup */
.pstscpopup .pstscpopuptext {
	visibility: hidden;
	font-size: 14px;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 8px 8px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* The actual popup */
.pstscpopup .pstscpopuptext a:link,
.pstscpopup .pstscpopuptext a:hover,
.pstscpopup .pstscpopuptext a:visited,
.pstscpopup .pstscpopuptext a:active	 {
	color: #fff8dc;
	text-decoration: none;
}

.pstscpopup .close {
	float: right;
	cursor: pointer;
}


/* Popup arrow */
.pstscpopup .pstscpopuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.pstscpopup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}